<div class="row">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <div class="row">
          <h3 class="form-title">Base de datos</h3>
      </div>
      <div class="form-group has-error" style="margin-top: 20px" *ngIf="showMsgError">
        <label id="form-err" class="control-label">{{ msgError }}</label><br />
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">Importar</div>
        <div class="panel-body">
          <div class="form-inline">
            <div class="fileUpload btn btn-link-custom">
              <span>Seleccionar archivo...</span>
              <input id="uploadBtn" type="file" class="upload" #item (change)="onChangeFileNameImport(item)" />
            </div>
            <input id="uploadFile" class="form-control" placeholder="...." disabled="disabled" [(ngModel)]="fileNameImport" />
            <p style="padding: 10px;">
              <button class="btn btn-link-custom" style="float:right;" (click)="saveImportFile()">Guardar</button>
            </p>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">Exportar</div>
        <div class="panel-body">
          <a class="btn btn-link-custom" #itemExport (click)="getExportData(itemExport)">Exportar a archivo</a>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">Borrar</div>
        <div class="panel-body">
          <a class="btn btn-link-custom" data-toggle="modal" data-target="#clearModal">Borrar base de datos</a>
        </div>
      </div>
  </div>
</div>

 <!-- Confirm Modal -->
<div class="modal fade" id="confirmModal" role="dialog" style="position:fixed;">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{msgInfoTitle}}</h4>
        </div>
        <div class="modal-body" style="margin-top:10px;">
          {{ msgInfo }}
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-link-custom" data-dismiss="modal">Leído</button>
        </div>
      </div>
    </div>
  </div>

 <!-- Confirm clear Modal -->
<div class="modal fade" id="clearModal" role="dialog" style="position:fixed;">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Borrar base de datos</h4>
        </div>
        <div class="modal-body" style="margin-top:10px;">
          Se va a borrar la base de datos completa. Se quedará el usuario (root@root) con contraseña (1234)
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-link-custom" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-danger-custom" data-dismiss="modal" (click)="clearDatabase()">Borrar</button>
        </div>
      </div>
    </div>
  </div>