<!--button class="btn btn-link-custom btn-new" [routerLink]="['/']">Atrás</button-->

<div class="row">
  <div class="col-xs-12">
    <div class="cheatsheets-view-title text-center">
      <p class="title">{{model.title}}</p>
      <span class="subtitle">{{model.category.name}} <abbr title="Lenguaje de programación">({{model.language.name}})</abbr></span>
      
    </div>
    

    <blockquote class="comment">
      <div [innerHTML]="model.comment"></div>
    </blockquote>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-8">
    <div id="ace-editor" class="form-control code" style="height: 300px; margin-bottom: 10px;"></div>
    <button class="btn btn-link-custom btn-new" [routerLink]="['/']">Atrás</button>
  </div>
</div>

